.comments-section {
    .average-rating {
        width: 100px;
        height: 70px;
        font-size: 42px;
        background-color: #eef3f5;
    }

    .comment-card {
        .user-name {
            font-size: 16px;
            font-weight: 700;
        }

        .created-at {
            font-size: 12px;
            font-style: italic;
            color: #b4b4b4;
        }
    }

    .leave-comment-section {
        font-size: 22px;
    }
}