.ui-card {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.1);
}

.help-text {
    background-color: $help-text-color;
}

body {
    font-family: "Lato", sans-serif;

    .ui-text-extended {
        letter-spacing: 0.1em;
    }
}

.ui-page-header {
    font-size: 32px;
}

.validation-warning {
    color: $color-yellow-2;
    font-size: 12px;
    display: inline-block;
}

.validation-error {
    color: $color-validation-error;
    font-size: 12px;
    display: inline-block;
}

button.close:focus {
    outline: none;
}
