.characteristic-item {
    height: 40px;

    span {
        vertical-align: middle;
    }

    .name {
        border: 1px solid rgba(106, 106, 106, 0.2);
        border-style: none none solid none;
    }
}