.product-card {
    border-radius: 5px;
    border: 1px solid rgba(136, 137, 137, 0.8);
    height: 500px;
    width: 275px;
}

.card-buttons {
    text-align: right;;
}

.card-characteristic {
    font-size: 12px;
    line-height: 15px;
}