.product-card {
    border-radius: 3px;
    border: 1px solid rgba(136, 137, 137, 0.8);
    height: 550px;
    width: 275px;
}

.card-buttons {
    text-align: right;;
}

.card-characteristic {
    font-size: 12px;
    line-height: 15px;
}

.section-description {
    color: #919191;
    font-size: 14px;
}