.form-group {
    &__file-wrapper {
        height: 48px;
        border: 1px solid $input-border-color;
        border-radius: 5px;
        background-color: white;

        .text-block {
            line-height: 46px;
            height: 46px;
            display: inline-block;
        }

        .browse-button {
            @extend .text-block;
            font-size: 14px;
            font-weight: bold;
            color: $color-header-dark;
            padding: 0 20px;
            border-left: 1px solid $input-border-color;
            cursor: pointer;
            float: right;
        }

        .file-name,
        .placeholder {
            @include media-breakpoint-down(sm) {
                width: 170px;
            }

            @extend .text-block;
            font-weight: 500;
            font-size: 16px;
            padding-left: 16px;
            max-width: calc(100% - 100px);
        }

        .placeholder {
            color: $color-middle-grey;
        }

        .file-name {
            color: $color-black;
        }
    }
}
