.order-step-card {
    .ui-section-header {
        font-size: 26px;
    }

    .section-description {
        color: #919191;
        font-size: 14px;
    }

    & {
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05);
        background-color: white;
    }
}

.make-order-card-wrapper {
    padding-left: 40px;
}

.sticky-card {
    & {
        position: sticky;
        top: 20px;
        bottom: 20px;
        right: 10px;
        left: 10px;
    }

    .ui-section-header {
        font-size: 24px;
    }

    .make-order-card {
        height: 350px;
        width: 340px;
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05);
        background-color: white;
    }

    .promocode-card {
        height: 150px;
        width: 340px;
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05);
        background-color: white;
    }
}

