.header {
    $user-photo-width: 36px;
    $count-label-width: 18px;

    & {
        @include font-size(14px);

        display: flex;
        align-items: center;
        color: $white;
        background-color: #d5def3;
        line-height: 17px;
        user-select: none;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.07);
    }

    &__menu-toggle {
        cursor: pointer;
        line-height: $navigation-width;
        text-align: center;
        color: $color-icon-grey;
        width: 64px;

        @media (min-width: $navigation-overlapping-width) {
            display: none;
        }
    }

    &__greetings {
        font-size: 24px;
        color: black;
    }

    &__user-data {
        text-align: right;
        padding: 0 20px 0 10px;
    }

    &__action-buttons {
        margin-left: auto;
    }

    &__user-name {
        padding-bottom: 10px;
    }

    &__user-role {
        @include font-size(10px);

        font-family: 'Libre Baskerville', serif;
        text-transform: uppercase;
        letter-spacing: .1em;
        line-height: 12px;
        opacity: .75;
    }

    &__dropdown-menu {
        top: 5px !important;
        left: -20px !important;
    }

    &__logo {
        width: 150px;
        height: auto;
    }

    &__button {
        width: 64px;
        height: 64px;
    }

    @include media-breakpoint-up(lg) {
        min-height: 72px;
    }
}