.error-page {
    .illustration {
        margin-top: 40px;
        width: 200px;

        @include media-breakpoint-up(sm) {
            width: 300px;
        }
    }

    .info {
        .btn {
            margin-top: 38px;
            width: 280px;
        }

        margin-top: 20px;
    }
}
