<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="Logs\internal-nlog.log">

    <!-- enable asp.net core layout renderers -->
    <extensions>
        <add assembly="NLog.Web.AspNetCore"/>
    </extensions>

    <!-- the targets to write to -->
    <targets>
        <!-- file log for maxlevel=Information. Uses some ASP.NET core renderers -->
        <target xsi:type="File" name="info" fileName="${aspnet-appbasepath}\Logs\nlog-info-${shortdate}.log"
                layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}|user: ${aspnet-user-identity}" />

        <!-- file log for level=Warning. Uses some ASP.NET core renderers -->
        <target xsi:type="File" name="warning" fileName="${aspnet-appbasepath}\Logs\nlog-warning-${shortdate}.log"
                layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}|user: ${aspnet-user-identity}" />

        <!-- file log for minlevel=Error. Uses some ASP.NET core renderers -->
        <target xsi:type="File" name="error" fileName="${aspnet-appbasepath}\Logs\nlog-error-${shortdate}.log"
                layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}|user: ${aspnet-user-identity}" />
    </targets>

    <!-- rules to map from logger name to target -->
    <rules>
        <!--Logs with maxlevel=Information, including from Microsoft-->
        <logger name="*" maxlevel="Info" writeTo="info" />
        <!--Logs with level=Warning, including from Microsoft-->
        <logger name="*" level="Warn" writeTo="warning" />
        <!--Logs with minlevel=Error, including from Microsoft-->
        <logger name="*" minlevel="Error" writeTo="error" />

        <!--Skip non-critical Microsoft logs and so log only own logs-->
        <logger name="Microsoft.*" maxlevel="Info" final="true" />
    </rules>
</nlog>