.cart-item {
    background-color: white;
    border-radius: 5px;
}

.cart-item-image {
    width: 150px;
    height: 150px;
}

.cart-items-header {
    background-color: white;
}

.cart-items-footer {
    background-color: white;
}

.total-cart-price {
    font-size: 28px;
    font-weight: bold;
}

.total-cart-price-label {
    font-size: 28px;
}