Input {
    &:last-of-type {
        margin: 0 0 0.5rem;
    }

    margin: 0 0 1rem;
}

.small-container {
    padding: 4rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
    background-color: white;
    border-radius: 5px;

    .logo {
        width: 150px;
    }

    .title {
        margin: 2rem auto;
        text-align: center;
    }

    &.with-back-button {
        button:hover {
            text-decoration: none;
        }

        .back-button {
            margin-left: -1rem;

            @media (min-width: 452px) {
                margin-left: -2.5rem;
            }

            .back-button-label {
                color: $color-green-dark;
            }
        }

        @media (min-width: 452px) {
            padding: 0.5rem 3rem 3rem 3rem !important;
        }
    }

    @include media-breakpoint-up(sm) {
        width: 452px;
    }
}

.table-text-truncate {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}