html,
body,
#root {
    height: 100vh;
}

html {
    @include media-breakpoint-down(md) {
        overflow: scroll;
        -webkit-overflow-scrolling: touch;
    }
}

.grid {
    & {
        @media (min-width: $navigation-overlapping-width) {
            padding-left: $navigation-width;

            &--navigation-opened {
                padding-left: $navigation-width-opened;
            }
        }

        display: flex;
        flex-direction: column;
        min-height: 100%;
        background-color: $body-bg;
        transition-duration: $transition-duration;
    }

    &__navigation {
        & {
            @media (min-width: $navigation-overlapping-width) {
                width: $navigation-width;
                transform: translateX(0);

                &--opened {
                    width: $navigation-width-opened;
                }
            }

            position: fixed;
            background-color: $white;
            left: 0;
            top: 0;
            bottom: 0;
            transition-duration: $transition-duration;
            width: $navigation-width-mobile;
            z-index: z-index(navigation);
            transform: translateX(-100%);
        }

        &--opened {
            left: 0;
            transform: translateX(0);
        }
    }

    &__header,
    &__main,
    &__footer {
        flex: 0 0 auto;
    }

    &__main {
        flex: 1 0 auto;
        width: 100%;
    }

    &__footer {
        margin-top: auto;
    }
}