.order-item {
    height: 210px;
    background-color: white;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05);

    .order-item-header {
        height: 40px;
        background-color: #f2f2f2;
    }
}

.order-details-item {
    background-color: rgb(236, 249, 255);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05);

    .order-item-header {
        height: 40px;
        background-color: #f2f2f2;
    }

    .order-action-button {
        width: 60px;
    }
}

.button-postpone {
    background-color:rgb(125, 98, 135) !important;
}

.button-approve {
    background-color: rgb(22, 169, 22) !important;
}

.button-cancel {
    background-color: rgb(212, 56, 56) !important;
}

.button-close {
    background-color:rgb(102, 93, 109) !important;
}

.secondary-value {
    color: #919191;
    font-size: 12px;
}