@import "./variables";
@import "./bootstrapCustom";
@import "./fonts";
@import "./customMixins";

$material-design-icons-font-directory-path: "~material-design-icons-iconfont/dist/fonts/";
@import "~material-design-icons-iconfont/src/material-design-icons";

@import "../app/**/*.scss";